<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lutao.america.dao.GeneratorMapper" >

   <select id="getValueByName" resultType="long" parameterType="string">
     SELECT 
         GEN_VALUE 
     FROM 
         tb_generator 
     where 
         GEN_NAME = #{GEN_NAME}
   </select>

   <update id="updateValueByName" parameterType="Generator">
     update 
         tb_generator 
     set
         GEN_VALUE = #{GEN_VALUE,jdbcType=DECIMAL}
      where 
         GEN_NAME = #{GEN_NAME}
   </update>




</mapper>